@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
    --header-height: 3rem;
    --font-semi: 600;
}
  
  /*===== Colores =====*/
:root{
    --first-color: #4070F4;
    --second-color: #0E2431;
}
  
  /*===== Fuente y tipografia =====*/
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
  *,::before,::after{
    box-sizing: border-box;
}

body{
    color: var(--second-color)
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}
.home-container h3{
    font-size: 2.7rem;
    margin-bottom: var(--mb-5);
    line-height: 65px;
    font-family: var(--body-font);
    font-weight: var(--font-semi);
}
.name {
    color: var(--first-color);
}

.btn{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    margin-top: 50px;
    font-size: 14px;
}
.btn:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.image-section {
    position: absolute;
    top:80px;
    right:5px;
    width: 380px;
}
.image-section img {
    max-width: 100%;
    height: auto;
}
.about-section {
  margin-top: 10rem;
  margin-bottom:2rem;
}
.about-heading {
  font-size: 40px;
  text-align: center;
  color:#4070F4;
  border: none;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-img {
  width: 290px;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 12px;
}
.content h2 {
  font-size:25px;
  font-weight: 700;
}
.content p {
  font-weight: 40;
  font-size: 19px;
}

.skill-section {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: var(--body-font);
}
.skill-heading {
  color:#4070F4;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.professionall-image {
  width: 456px;
  border-radius: 12px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 30px;
}
.professionall-skills{
  margin-left: 10px;
}
.professionall-skills h2 {
  font-size:23px;
  font-weight: 700;
}
.professionall-skills p {
  font-size: 16px;
  font-weight: 400;
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__names {
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.skills__bar{
  position: absolute;
  left: 10px;
  margin-top: 50px;
  border-bottom: 4px solid #4070F4;
}
.skills__html{
  width: 40%;
}
.skills__css{
  width: 35%;
}
.skills__js{
  width: 32%;
}
.skills__ux{
  width: 30%;
}
.skills__names span {
  font-size: 18px;
  font-weight: 390;
  padding-left: 20px;
}
.skills__names i {
  font-size: 30px;
  color: #4070F4;
}
.skills__percentage {
  padding-right: 25px;
}
@media only screen and (max-width: 770px) {
  .home-container h3{
    padding-top: 40px;
    font-size: 2.2rem;
    margin-bottom: var(--mb-5);
    line-height: 40px;
    font-family: var(--body-font);
    font-weight: var(--font-semi);
}
.image-section {
  position: absolute;
  top:230px;
  right:60px;
  width: 250px;
}
.about-section {
  margin-top: 11.5rem;
  margin-bottom:1rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-img {
  width: 230px;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 12px;
}
.content h2 {
  padding-top: 23px;
  font-size:22px;
  font-weight: 700;
  text-align: center;
}
.content p {
  font-weight: 120;
  font-size: 18px;
  text-align: center;
}
.skills-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.professionall-image {
  width: 456px;
  border-radius: 12px;
  margin-top: 80px;
  margin-left: 28px;
  margin-right: 27px;
}
.professionall-skills h2 {
  font-size:23px;
  font-weight: 700;
  text-align: center;
}
.professionall-skills p {
  font-size: 19px;
  font-weight: 400;
  text-align: center;
}
}
@media only screen and (max-width: 500px) {
  .btn{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    margin-top: 80px;
    font-size: 14px;
}
.image-section {
  position: absolute;
  top:240px;
  right:50px;
  width: 240px;
}
}
@media only screen and (max-width: 400px) {
.image-section {
  position: absolute;
  top:260px;
  right:20px;
  width: 180px;
}
}
@media only screen and (max-width: 350px) {
  .image-section {
    position: absolute;
    top:320px;
    right:5px;
    width: 200px;
  }
}








